# Task 1

### 1) Write a program to get the data type of a data

In [2]:
x={1,2,3,4,5}
type(x)

set

### 2) Write a program to convert a integer data type to float data type

In [5]:
x=int(input("enter the first value: "))
y=int(input("enter the second value: "))
z=print(float(x+y))

enter the first value: 12
enter the second value: 9
21.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [6]:
#float to int
x=12.1
y=7.6
int(x+y)

19

In [7]:
#int to float
i=5
j=12
float(i+j)

17.0

### 4) Write a programme to get the actual location of the data

In [9]:
value="D"
id(value)

2800615704880

### 5) Give an example of implict conversion and explict conversion

In [11]:
_1=2
_2=5+7j
print(_1+_2)

(7+7j)

In [14]:
q=33
w=3
float(q+w)

36.0

### 6) Write a programme to prove that python is a case senstive language

In [15]:
Var1="abcdef"
print(var1)

NameError: name 'var1' is not defined

### 7) Write a programme to get a syntax error

In [17]:
y=2.3/
x=7.1
print(x+y)

SyntaxError: invalid syntax (1295069323.py, line 1)

### 8) Write a programme to get a type error

In [20]:
x="ac"
y=123
x+y

TypeError: can only concatenate str (not "int") to str

### 9) Give an example of mulitple statement in a single line

In [21]:
x=7.4;y=6;x+y

13.4

### 10) Give an example of single line statement in multiple line

In [22]:
4\
+\
10\
*\
2

24